/.vs/Encoder/v15/.suo
/.vs/Encoder/v15/Server/sqlite3/db.lock
/.vs/Encoder/v15/Server/sqlite3/storage.ide
/.vs/Encoder/v15/Server/sqlite3/storage.ide-shm
/.vs/Encoder/v15/Server/sqlite3/storage.ide-wal
/Encoder/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Encoder/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Encoder/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Encoder/bin/Debug/Encoder.exe
/Encoder/bin/Debug/Encoder.pdb
/Encoder/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Encoder/obj/Debug/Encoder.csproj.GenerateResource.cache
/Encoder/obj/Debug/Encoder.exe
/Encoder/obj/Debug/Encoder.pdb
/Encoder/bin/Debug/Encoder.exe
/Encoder/bin/Debug/Encoder.pdb

